section.section
    .wrapper
        div.container
            div.logo
                img(src='assets/img/logo.png')
            ul.accordeon
                li.acco__section.acco__section_active
                    div.header
                        div.text Основы языка, и как на нем говорить правильно
                        div.triangle &#9650;
                    div.content
                        ul.content__ul
                            li.content__li
                                | Лексическая структура
                            li.content__li
                                | Типы данных, значения и переменные
                            li.content__li
                                | Выражения и операторы инструкции
                li.acco__section
                    div.header
                        div.text Функции
                        div.triangle &#9650;
                    div.content
                        ul.content__ul
                            li.content__li
                                | Лексическая структура
                            li.content__li
                                | Типы данных, значения и переменные
                            li.content__li
                                | Выражения и операторы инструкции
                li.acco__section
                    div.header
                        div.text Обработка ошибок и отладка
                        div.triangle &#9650;
                    div.content
                        ul.content__ul
                            li.content__li
                                | Лексическая структура
                            li.content__li
                                | Типы данных, значения и переменные
                            li.content__li
                                | Выражения и операторы инструкции
                li.acco__section
                    div.header
                        div.text Объекты и массивы
                        div.triangle &#9650;
                    div.content
                        ul.content__ul
                            li.content__li
                                | Лексическая структура
                            li.content__li
                                | Типы данных, значения и переменные
                            li.content__li
                                | Выражения и операторы инструкции
                li.acco__section
                    div.header
                        div.text Cобытия
                        div.triangle &#9650;
                    div.content
                        ul.content__ul
                            li.content__li
                                | Лексическая структура
                            li.content__li
                                | Типы данных, значения и переменные
                            li.content__li
                                | Выражения и операторы инструкции