section.section
    .wrapper
        .container
            h2.headerSection Слайдер
            .slider__window
                ul.slider
                    li.slider__li.slider__li_active 1
                    li.slider__li 2
                    li.slider__li 3
                    li.slider__li 4
                .arrow.arrow__left <
                .arrow.arrow__right >