section.section
    .wrapper
        .container
            h2.headerSection Слайдшоу
            ul.slideshow
                li.slideshow__li.slideshow__li_active 1
                li.slideshow__li 22
                li.slideshow__li 333
                li.slideshow__li 4444
