section.section
    .wrapper
        .container.tabs__container
            h2.headerSection Табы
            ul.tabs__tab
                li.tab__li.tab__li_active Tab1
                li.tab__li Tab2
                li.tab__li Tab3
                li.tab__li Tab4
            ul.tabs__content
                li.tabContent__li.tabContent__li_active.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deleniti est eveniet impedit iure maiores minima sint sit
                    velit voluptatem voluptatibus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deleniti est eveniet impedit iure maiores minima sint sit
                    velit voluptatem voluptatibus.

                li.tabContent__li.
                    Для начала небольшой ликбез. Работаю я в администрации одного
                     из субъектов нашей необъятной Родины. Для того чтобы устроиться
                     к нам на работу, необходимо собрать определённые документы и
                     предоставить их в отдел кадров, где их проверят, нужные копии заверят,
                     а также выдадут копию должностного регламента, с которым претендент
                     может ознакомиться. Далее претенденты проходят конкурс, и победитель
                     принимается на должность. При этом претендент подписывает служебный
                     контракт и, опять же, копию должностного регламента.
                li.tabContent__li.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deleniti est eveniet impedit iure maiores minima sint sit
                    velit voluptatem voluptatibus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deleniti est eveniet impedit iure maiores minima sint sit
                    velit voluptatem voluptatibus.
                li.tabContent__li.
                    Для начала небольшой ликбез. Работаю я в администрации одного
                     из субъектов нашей необъятной Родины. Для того чтобы устроиться
                     к нам на работу, необходимо собрать определённые документы и
                     предоставить их в отдел кадров, где их проверят, нужные копии заверят,
                     а также выдадут копию должностного регламента, с которым претендент
                     может ознакомиться. Далее претенденты проходят конкурс, и победитель
                     принимается на должность. При этом претендент подписывает служебный
                     контракт и, опять же, копию должностного регламента.
