doctype html
html(lang='ru')
    include ../common/head
    body
        include ../common/accordeon
        include ../common/slideshow
        include ../common/tabs
        include ../common/slider




